@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #e5e7eb; /* Tailwind gray-200 */
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d1d5db; /* Tailwind gray-300 */
}

:where(.ant-menu-light) .ant-menu-item:hover {
  background-color: #f5f5f5 !important;
}

:where(.ant-menu-light) .ant-menu-submenu-title:hover {
  background-color: #f5f5f5 !important;
}
